@import "_variables";

.expense-category-list-item-container {
  @include container;
  width: calc(90vw / 3);
  height: calc(90vw / 3);
  font-size: 1.1em;
  //   height: 5.5rem;

  .category-icon,
  .selected-category {
    border: 1px solid lightgray;
    // background: $main;
    width: 3.5rem;
    height: 3.5rem;
    padding: 0.5rem;

    border-radius: 50%;
    margin-bottom: 0.2rem;
  }

  .category-icon {
    background: $light-gray;
  }

  .selected-category {
    background: $main;
  }
}

.expense-category-list-container {
  display: flex;
  flex-wrap: wrap;
  padding: 5vw;
  // height: 80vh;
  // overflow-y: scroll;
  //   justify-content: space-around;
}

.add-expense-form {
  display: flex;
  flex-direction: column;
  // overflow-x: hidden;
  // width: 85vw;

  align-items: center;
  // justify-content: center;

  .expense-category-list-item-container {
    width: fit-content;
    margin: 0 0 0 0.5em;
  }
}

.input-amount {
  display: flex;
  align-items: center;
  justify-content: center;
  // height: 10rem;
}

.input-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 1em 0.5em;
  .css-4mzek5-MuiFormControl-root-MuiTextField-root,
  .css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
    width: calc(100% - 2em);
  }
}
