@import "_variables";

.landing-page-container {
  background-color: $main;
  height: 100vh;
  @include container;
  .top {
    @include container;
    flex: 2;
  }

  .login {
    flex: 1;
  }

  svg {
    margin-bottom: 2em;
  }
}

.landing-page-title {
  font-size: 3em;
}
