@import "_variables.scss";

.my-profile-container {
  overflow: hidden;
  .my-profile-header {
    padding: 0.5em;
    background-color: $main;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
      0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);

    .header-info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 1em;
      padding-top: 1em;

      .header-right {
        display: flex;
        flex: 1;
        div {
          flex: 1;
        }

        label {
          font-size: 1.5em;
        }
      }

      .my-profile-avatar {
        border-radius: 50%;
      }

      .my-profile-name {
        text-transform: capitalize;
        margin-top: 0.3em;
      }
    }
  }
}

.my-profile-body-container {
  background-color: $light-gray;
  height: 80vh;
  padding: 1em;
  display: flex;
  align-items: center;
  flex-direction: column;

  .my-profile-body-card {
    margin-bottom: 1em;
    border-radius: 0.3em;
  }

  .logout-button {
    width: 50%;
  }
}
