@import "_variables";

.register-page-container {
  height: 100vh;
  width: 100vw;
  padding: 5em 0;
  background: $main;
  @include container;
  justify-content: center;

  input:focus {
    background-color: #fff;
  }

  .css-jh47zj-MuiButtonBase-root-MuiButton-root {
    margin: 2em;
  }
}
